---
import Navbar from "../../components/Navbar.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseHead from "../../components/BaseHead.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Blogs by hyperoot" />
    <style>
      .main-container {
        max-width: 70vw;
        left: 15vw;
        position: relative;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
      }

      ul li {
        width: calc(50% - 2rem - 4px);
        background-color: var(--Crust);
        border-radius: 8px;
        border: solid 1px var(--Text);
        transition: all 1s ease;
      }

      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      ul li .image {
        width: 100%;
        aspect-ratio: 2;
        object-fit: cover;
        border: solid 1px var(--text-tertiary);
      }

      ul li a {
        display: block;
        position: relative;
        text-align: center;
        color: var(--text-primary);
        font-family: var(--font-saucecodepro);
      }

      .title {
        margin: 0;
        color: var(--text-primary);
        line-height: 1;
        font-size: 1.5rem;
      }

      .date {
        margin: 0;
        color: var(--text-tertiary);
        font-size: 1rem;
      }

      ul li:hover {
        border-radius: 8px;
        box-shadow: 0 0 20px 8px var(--Base);
      }

      ul li a:hover h4,
      ul li a:hover .date {
        color: var(--blue);
      }

      .category {
        position: absolute;
        top: -0.625rem;
        left: -1rem;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0.25rem 0.75rem;
        background-color: var(--bg-tertiary);
        color: var(--text-primary);
        /* border: solid 1px var(--bg-secondary); */
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
      }
      @media only screen and (max-width: 600px) {
        .main-container {
          max-width: 90vw;
          left: 5vw;
          position: relative;
        }
        ul {
          gap: 1em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
        .category {
          /* top: -0.75rem; */
          left: -0.75rem;
          letter-spacing: 0.1rem;
        }
      }
    </style>
  </head>
  <body>
    <BaseLayout>
      <Navbar />
      <div class="main-container">
        <main>
          <section>
            <ul>
              {
                posts.map((post) => (
                  <li>
                    <a
                      href={`/blogs/${post.slug}/`}
                      data-astro-prefetch
                      data-astro-reload
                    >
                      {post.data.heroImage ? (
                        <Image
                          width={720}
                          height={360}
                          src={post.data.heroImage}
                          alt=""
                          class="image"
                        />
                      ) : (
                        <Image
                          width={720}
                          height={360}
                          src="/images/placeholder.jpg"
                          alt=""
                          class="image"
                        />
                      )}
                      <div class="category">{post.data.category}</div>
                      <h4
                        class="title"
                        style="text-align: center; padding-bottom: 1rem;"
                      >
                        {post.data.title}
                      </h4>
                      <p
                        class="date"
                        style="text-align: center; padding-bottom: 1rem;"
                      >
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </a>
                  </li>
                ))
              }
            </ul>
          </section>
        </main>
      </div>
    </BaseLayout>
  </body>
</html>
